.signup-page {
  display: grid;
  grid-template-columns: auto;
  justify-content: center;
  align-content: center;
  height: 82vh;

  .signup-page-container {
    min-width: 1280px;
    min-height: 550px;
    border-radius: 12px;
    display: grid;
    grid-template-columns: auto auto;

    .signup-page-container-left {
      width: 550px;
      height: 500px;

      img{
        margin-top: 50px;
        align-content: center;
        width: 500px;
      }
    }

    .signup-page-container-right {
      width: 700px;
      h5 {
        color: black;
        font-size: 50px;
        text-align: center;
        margin-top: 50px;
        font-weight: 600;

        span {
          color: red;
          font-size: 50px;
        }
      }

      .first-div {
        margin: 10px 5px 10px 5px;
        display: grid;
        grid-template-columns: auto auto;
        justify-content: start;

        .first-div-1 {
          width: 335px;
          margin-right: 5px;
        }
        .first-div-2 {
          width: 335px;
        }
      }

      .second-div {
        margin: 10px 5px 10px 5px;
        display: grid;
        grid-template-columns: auto auto auto;
        justify-content: start;

        .second-div-1 {
          width: 220px;
          margin-right: 5px;
        }
        .second-div-2 {
          width: 220px;
          margin-right: 5px;
        }
        .second-div-3 {
          width: 225px;
        }
      }

      .third-div {
        margin: 10px 5px 10px 5px;
        display: grid;
        grid-template-columns: auto auto auto;
        justify-content: start;

        .third-div-1 {
          width: 220px;
          margin-right: 5px;
        }
        .third-div-2 {
          width: 220px;
          margin-right: 5px;
        }
        .third-div-3 {
          width: 225px;
          margin-right: 5px;
        }
      }

      .fourth-div {
        margin: 10px 5px 10px 5px;
        display: grid;
        grid-template-columns: auto auto auto;
        justify-content: start;

        .fourth-div-1 {
          width: 220px;
          margin-right: 5px;
        }
        .fourth-div-2 {
          width: 220px;
          margin-right: 5px;
        }
        .fourth-div-3 {
          width: 225px;
          margin-right: 5px;
        }
      }

      .fifth-div {
        margin: 10px 5px 10px 5px;
        display: grid;
        grid-template-columns: auto auto;
        justify-content: start;

        .fifth-div-1 {
          width: 335px;
          margin-right: 5px;
        }
        .fifth-div-2 {
          width: 335px;
          margin-right: 5px;
        }
      }

      .sixth-div {
        margin: 10px 5px 10px 5px;
        display: grid;
        grid-template-columns: auto auto;
        justify-content: start;

        .sixth-div-1 {
          width: 335px;
          margin-right: 5px;
        }
        .sixth-div-2 {
          width: 335px;
          margin-right: 5px;
        }
      }

      .signup-button{
        margin: 10px 5px 10px 5px;
        width: 675px;
        height: 40px;
        background-color: cadetblue;
        color: white;
        font-size: 18px;
        letter-spacing: 1.5px;
      }
    }
  }
}
