.header {
    height: 70px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.c1 {
    padding-left: 100px;
    font-size: 30px;
    font-weight: 500;
}
.c11 {
    color: red;
    font-size: 30px;
}
.c2 {
    display: flex;
    font-size: 120%;
    padding-right: 100px;

    span{
        margin-top: 5px;
        i{
            color: darkred;
        }
    }

    .add-appointment-slots{
        display: inline;
        width: 250px;
        height: 40px;
        background-color: cadetblue;
        color: white;
        border-radius: 16px;
        margin-right: 30px;
    }

    .doctor-header-profile{
        min-width: 150px;
<<<<<<< HEAD
        width: 100px;
=======
>>>>>>> origin/pharmacy-final
        height: 40px;
        border-radius: 16px;
        margin-right: 30px;
        padding-top: 3px;
        border: 1px solid black;
        background-color: white;
        color: black;

        img{
            width: 30px;
            height: 30px;
            border-radius: 100%;
            border: 1px solid black;
        }
        p{
            margin-bottom: -14px;
            font-size: 16px;
            display: inline;
            margin-left: 10px;
        }
    }
}

.c21 {
    padding-left: 30px;
    font-size: 18px;;
    color: darkred;
}
.c21:hover {
    cursor: pointer;
}
