.add-slot-page {
    display: grid;
    grid-template-columns: 60% 40%;

    .add-slot-page-left {
        margin-top: 25px;
        width: 100%;
        min-height: 500px;
        border-radius: 12px;

        label{
            margin-right: 10px;
        }

        input{
            margin-right: 10px;
        }
    }
}