.header {
    height: 70px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.c1 {
    padding-left: 100px;
    font-size: 30px;
    font-weight: 500;
}
.c11 {
    color: red;
    font-size: 30px;
}
.c2 {
    display: flex;
    font-size: 120%;
    padding-right: 100px;
}

.c21 {
    padding-left: 30px;
    font-size: 18px;;
    color: darkred;
}
.c21:hover {
    cursor: pointer;
}
