.navbar-new{
    padding-top: 20px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 10px;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
    width: 100%;
    background-color: white;

    .navbar-left{
        h5{
            font-weight: 600;
            font-size: 23px;
            span{
                color: red;
            }
        }
    }

    .navbar-right{
        .navbar-right-link{
            margin-bottom: 20px;
            text-decoration: none;
            margin-right: 40px;
            color: cadetblue;
            font-weight: 500;
            font-size: 17px;
            letter-spacing: 1.5px;

            a:hover{
                color: teal;
            }
        }

        .last{
            margin-right: 5px;
        }
    }
}