@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins&family=Raleway&family=Roboto&display=swap");

body {
  font-family: "Poppins", sans-serif;
}

// DoctorList page styling start

.parent {
  background-color: #ffffff;
}

.back-to-home{
    display: grid;
    grid-template-columns: 90% auto auto;
    justify-items: right;
}

.back-url{
    text-align: right;
}

.link {
  text-decoration: none;
  color: black;
}

.link:hover{
    color: cadetblue;
}

.doctor-list-search-card {
  background-color: whitesmoke;
  border-radius: 10px;
  min-height: 150px;
  display: grid;
  grid-template-columns: repeat(4, auto);
  justify-content: space-evenly;

  .search-button {
    background-color: cadetblue;
    color: white;
    max-height: 60px;
    min-width: 13rem;
    align-self: center;
    margin-top: 25px;
  }

  .search-boxes {
    align-self: center;
    min-width: 20rem;
  }

  .label {
    margin-bottom: 2px;
  }
}

.doctor-list-card-container {
  margin-top: 1rem;
  background-color: whitesmoke;
  border-radius: 10px;
  min-height: 200px;

  .cont1 {
    max-height: 60px;
    padding: 1rem;
    border-bottom: 1px solid gray;

    .cont1-h6 {
      margin-top: 5px;
      align-self: center;
    }
  }

  .cont2 {
    max-height: 100px;
    padding: 1.5rem;
    border-bottom: 1px solid gray;
    display: grid;
    grid-template-columns: 75% 25%;

    .filter {
      border-right: 1px solid gray;
      display: grid;
      grid-template-columns: 30% 5% 10% 5% 10% 12%;

      .filter-h5{
        font-weight: 500;
      }
    }

    .vl {
      border-left: 2px solid gray;
      height: 25px;
    }

    .chip {
      display: inline-block;
      text-align: center;
      height: 25px;
      font-size: 16px;
      border-radius: 16px;
      background-color: white;
      margin-right: 8px;
      background-color: cadetblue;
      color: white;
    }

    .sort-by {
      display: grid;
      grid-template-columns: auto auto;
      justify-content: center;
    }

    .sort-by-h6 {
      margin-right: 10px;
    }

    .sort-by-select {
      margin-top: -10px;
      max-height: 40px;
      max-width: 100px;
      border-radius: 15px;
    }
  }

  .cont3 {
    margin-top: 30px;
    border-bottom: 0;
    padding-bottom: 20px;

    .Hospital-card {
        background-color: white;
      min-height: 130px;
      border-bottom: 1px solid black;
      padding-top: 20px;
      padding-bottom: 20px;
      margin-bottom: 20px;
      border-radius: 12px;

      display: grid;
      grid-template-columns: 60% 40%;

      .left-side{
        display: grid;
        grid-template-columns: auto auto;
        justify-items: left;
        align-items: center;
        .img-container{
            background-image: url('../assets/img_sample.jpg');
            background-size: 100% 100%;
            border: 1px solid black;
            border-radius: 12px;
            height: 100px;
            width: 100px;
        }
      }

      .right-side{
        display: grid;
        grid-template-rows: auto auto;
        .right-side-top{
            display: grid;
            grid-template-columns: auto auto;
            justify-content: space-between;

            .departments {
                .department-no{
                    color: cadetblue;
                    font-weight: 600;
                }
            }

            .doctors{
                .doctor-no{
                    color: cadetblue;
                    font-weight: 600;
                }
            }
        }

        .search-appointment-button{
            background-color: cadetblue;
            color: white;
        }
      }
    }
  }
}

// DoctorList Page Styling end
