@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins&family=Raleway&family=Roboto&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}




.divider{
    display: grid;
    grid-template-columns: 70% 20%;
   
    .stepper{
       
        align-self: center;
        
    }
    .dateSelect{
        justify-self: center;
        padding-left: 40px;
        
    }
    .stepcontact{
        justify-self: left;
    }
    
}

.bookingStatus{
    align-self: center;
}
.contactcard{
    padding-right: 20px;
}

.headerCard{
   
    display: flex;
  justify-content: center;
  
}
.profile-tabbar-container {

    height: 50px;

    width: 90%;

    border-radius: 12px;

    padding-top: 4px;

    padding-left: 2px;

    padding-right: 4px;
    padding-bottom: 4px;

    background-color: white;

 

    .profile-tabbar {

      display: grid;

      grid-template-columns: auto auto auto ;

      justify-content: space-around;

 

      .profile-tabbar-tab {

        width: 310px;

        border-radius: 12px;

        color: cadetblue;
        

      }

 

      .nav-item {

      
      .nav-link.active {

        
        background-color: cadetblue;

        font-size: 18px;
  

        color: white;
        

      }
    }

    }

  }

.Patientlist{
    display: grid;
    grid-template-columns: 70% 30%;
    padding: 20px;
}  

.Patientcard{
  border-radius: 5px;
  border-width: 0px;
 
}
.PatientSubcard{
  border-radius: 12px;
  display: grid;
  grid-template-columns: 17% 83%;
  width: 90%;
  height: 80px;

  .leftdiv{
   
    h5{
      font-size: 16px;
    }
  
    h6{
      font-size: 13px;
      font-style: italic;
      color: aqua;
    }
  }
  .rightdiv{
    display: grid;
    grid-template-columns: 50% 50%;
    padding-left: 20px;
    padding-right: 100px;
    padding-top: 20px;  
    .date-rightdiv{
      margin-left: 50px;
    }
  
    .details-rightdiv{
      display: grid;
      grid-template-columns: 50% 50%; 
      justify-content: space-between;

      img{
        width: 40px;
        height: 40px;
        border: 1px solid black;
        margin-left: 65px;
        border-radius: 100%;
      }

      .details-right-div-name{
        width: 250px;
        font-size: 13px;
        margin-left: 5px;
        display: grid;
        grid-template-columns: 70% 30%;
        justify-content: space-between;
        
        p{
          margin-bottom: 0;
        }
        
        .details-right-div-mob{
          h6{
            font-size: 13px;
            
          }
        }
      }
    }
  }

}


.rb{
    border-right: 1px solid lightgray;
    height: 50px;
    align-self: center;
}

.datePickerPatient{
  display: grid;
  justify-content: center;
  border-radius: 15px;
  padding-right: 20px;
  width: 400px;
  
}

.calendar-ui{
  border-radius: 20px;
}
