.patient-details-page {
  display: grid;
  grid-template-columns: 45% 55%;
  justify-content: center;
  background-color: snow;
  min-height: 100vh;
  padding: 30px;

  .patient-details-page-left {
    .patient-biodata {
      border-width: thin;
      //border: 1px solid lightgray;
      display: grid;
      width: 500px;
      height: 250px;
      background-color: white;
      grid-template-rows: 10% 90%;
      border-radius: 12px;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

      .patient-biodata-title {
        justify-content: center;
        text-align: center;
        margin-bottom: 50px;

        .Patient-Details {
          font-family: "Poppins";
          font-size: larger;
          font-weight: bold;
          margin-top: 20px;
        }
      }

      .patient-biodata-main {
        display: grid;
        grid-template-columns: 35% 65%;
        padding-top: 20px;

        .patient-pic {
          width: 160px;
          height: 160px;
          // border: solid 1px gray;
          background-size: 100% 100%;
          border-radius: 12px;
          margin-top: 1rem;
          margin-left: 1rem;
        }
      }

      .patient-biodata-right {
        padding-top: 1rem;
        padding-left: 5px;

        .biodata-elements {
          list-style: none;
          margin: 2px;

          .leftside {
            color: teal;
            font-weight: 500;
          }
        }
      }
    }

    .Medical-history{
      margin-top: 15px;
      display: grid;
      grid-template-columns: auto auto;
      justify-content: center;

      .Medical-history-cont{
        //border: 1px solid lightgray;
        width: 230px;
        height: 160px;
        border-radius: 12px;
        background-color: white;
        margin: 15px;
        padding: 20px 10px;

        h4{
          margin-top: -5px;
          font-size: 16px;
          font-weight: 600;
          text-align: center;
          margin-bottom: 10px;
        }

        ul{
          li{
            margin-bottom: 5px;
            font-size: 15px;
          }
        }
      }


    }
  }

  .patient-details-page-right {
    width: 90%;
    .Medical-history-title {
      height: 50px;
      text-align: center;
      background-color: white;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      border-radius: 10px;
      padding-top: 13px;
      font-weight: bold;
      font-size: larger;
    }

    .history-page-right{
      background-color: white;
      min-height: 95vh;
      border-radius: 12px;

      .profile-tabbar-container {
        padding: 20px;
      height: 50px;
      width: 100%;
      margin-top: 20px;

      .profile-tabbar {
        display: grid;
        grid-template-columns: auto auto;
        justify-content: center;

        .profile-tabbar-tab {
          width: 16rem;
          height: 3rem;
          font-size: larger;
          border-radius: 12px;
          color: cadetblue;
          border: 0ch;
        }

        .nav-item {
          list-style: none;
          margin-left: 30px;
        }

        .nav-item .nav-link.active {
          background-color: cadetblue;
          font-size: 18px;
          color: white;
        }
      }
    .profile-tabbar-contents-container {
      min-height: 297.6px;
      width: 100%;
      // display: grid;
      // grid-template-columns: 20% 40% 40%;
      // padding-left: 2rem ;

      .profile-tabbar-content-all-tab-newpres-container {
        font-family: "Poppins";
        list-style: none;
        display: grid;
        grid-template-rows: auto auto auto;
        width: 100%;
        // row-gap: 2rem;

        .xyz {
          width: 100%;
          min-height: 297.6px;
          background-color: white;
        }

        .body-condition-pt-dt{
          height: 200px;
          width: 635px;
          margin-bottom: 20px;
          margin-top: 10px;
          background-color: white;
             border: 1px solid black;
            border-radius: 12px;

          .body-condition-pt-dt-label{
            margin: 10px;
          }
          .body-condition-pt-dt-input{
            width: 60px;
            margin: 10px;
            border: 1px solid lightgray;
            border-radius: 8px;
            padding-left: 15px;
          }
        }

        .fields {
          width: 360px;

          .labels {
            // margin-top: 5px;
            color: black;
            font-weight: bold;
          }
          textarea {
            resize: none;
            border-radius: 12px;
            padding: 1rem;
            width: 635px;
            margin-bottom: 0.3rem;
          }
        }
        .submit-button {
          font-family: "Poppins";
          background-color: cadetblue;
          color: white;
          font-size: 700;
          height: 2.2rem;
          width: 7rem;
          border-radius: 12px;
          border: 0ch;
          margin-left: 270px;
        }
      }

      .profile-tabbar-content-all-tab-history-container {
        height: 75vh;
        border-radius: 8px;
        background-color: white;
        padding: 20px;
         overflow-y: auto;

        h5 {
          margin-left: 10px;
        }

        .profile-prescription-card {
          margin-top: 12px;
          margin-bottom: 12px;
          min-height: 20px;
          border: 1px solid cadetblue;
          border-radius: 8px;
          font-family: "Poppins";

          .profile-prescription-card-head {
            display: grid;
            grid-template-columns: auto auto;
            justify-content: space-between;
            padding: 12px;

            .profile-prescription-card-head-left {
              :nth-child(1) {
                margin-bottom: 2px;
                font-size: 16px;
              }
              :nth-child(2) {
                margin-top: 4px;
                margin-bottom: 2px;
                font-size: 14px;
              }
              :nth-child(3) {
                margin-top: 4px;
                margin-bottom: 2px;
                font-size: 14px;
                font-weight: 500;
              }
            }

            .profile-prescription-card-head-right {
              :nth-child(1) {
                font-size: 14px;
                margin-bottom: 4px;
              }
              :nth-child(2) {
                font-size: 14px;
                margin-bottom: 6px;
              }
            }

            .profile-description-card-button {
              background-color: cadetblue;
              color: white;
              width: 85px;
              height: 25px;
              font-size: 12px;
              padding: 0;
            }
          }
          .profile-prescription-card-body {
            border-top: 1px solid black;
            padding: 12px;

            .profile-prescription-card-body-sect-1 {
              font-size: 15px;

              .table{
                width: 50%;
              }
            }
            .profile-prescription-card-body-sect-2 {
              display: grid;
              grid-template-columns: auto auto auto;
              justify-content: start;
              font-size: 15px;

              ul li {
                margin-right: 8px;
              }
              p {
                margin: 0;
                margin-bottom: 0px;
                margin-right: 8px;
              }
            }
            .profile-prescription-card-body-sect-3-header {
              margin-top: 10px;
              margin-bottom: 10px;
              // text-decoration:dotted;
              font-weight: bold;
            }
            .profile-prescription-card-body-sect-3 {
              table {
                th {
                  font-size: 14px;
                  color: black;
                }
                td {
                  font-size: 14px;
                }
              }
            }
          }
        }
      }
    }
  }
    }
  }
}
