.Background {
  display: flex;
  justify-content: center;
  margin-bottom: 3rem;
  padding: 4rem;
  padding-top: 2rem;
  background-color: snow;
}

.Doctorside-profile {
  display: grid;
  grid-template-rows: 35% 65%;
  row-gap: 2rem;
  width: 1288px;
  height: 752px;
}

.general-profile {
  display: grid;
  grid-template-columns: 40% 55%;
  column-gap: 2rem;
  font-family: "Poppins";
  background-color: snow;
  box-sizing: border-box;
  width: 1241px;
  height: 256px;
  border-radius: 12px;

  .patient-biodata {
    border-width: thin;
    display: grid;
    width: 497.2px;
    grid-template-rows: 10% 90%;
    border-radius: 12px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background-color: white;

    .patient-biodata-title {
      justify-content: center;
      padding-left: 120px;

      .Patient-Details {
        font-family: "Poppins";
        font-size: larger;
        font-weight: bold;
        margin-top: 20px;
      }
    }

    .patient-biodata-main {
      display: grid;
      grid-template-columns: 35% 65%;
      padding-top: 20px;

      .patient-pic {
        width: 160px;
        height: 160px;
        border-radius: 12px;
        // border: solid 1px gray;
        background-size: 100% 100%;
        margin-top: 10px;
        margin-left: 1rem;
      }

      .patient-biodata-right {
        padding-top: 1rem;
        padding-left: 0rem;

        .biodata-elements {
          list-style: none;

          .leftside {
            color: cadetblue;
            font-weight: bold;
          }
        }
      }
    }
  }

  .Medical-history {
    display: grid;
    grid-template-rows: 20% 80%;
    row-gap: 1rem;
    width: 742.8px;
    height: 240px;
    background-color: snow;
    margin-right: 0;
    border-radius: 12px;

    .Medical-history-title {
      justify-content: center;
      padding-left: 340px;
      background-color: white;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      border-radius: 12px;
      padding-top: 13px;
      font-weight: bold;
      font-size: larger;
    }

    .Medical-history-details {
      display: grid;
      grid-template-columns: 33% 33% 33%;
      column-gap: 1rem;
      background-color: white;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      border-radius: 12px;
      padding-top: 15px;

      .Conditions {
        border-width: thin;
        border-right: solid 1px rgb(189, 188, 188);

        .textedit {
          color: cadetblue;
          font-weight: bold;
          font-size: 18px;
          text-decoration: underline;
          margin-left: 30px;
        }
      }
      .Medications {
        border-width: thin;
        border-right: solid 1px rgb(189, 188, 188);

        .textedit {
          color: cadetblue;
          font-weight: bolder;
          font-size: 18px;
          text-decoration: underline;
          margin-left: 30px;
        }
      }
      .Past-issues {
        .textedit {
          color: cadetblue;
          font-weight: bolder;
          font-size: 18px;
          text-decoration: underline;
          margin-left: 30px;
        }
      }
    }
  }
}

.Bottom-panel {
  display: grid;
  grid-template-columns: 40% 60%;
  column-gap: 2rem;
  width: 1241px;
  height: 510px;

  .Observation {
    box-sizing: border-box;
    // width: 834px;
    min-height: 372px;
    background-color: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 12px;
    display: grid;
    // grid-template-rows: 15% 80%;

    .profile-tabbar-container {
      height: 50px;
      width: 100%;
      margin-top: 20px;
      // background-color: white;

      .profile-tabbar {
        display: grid;
        grid-template-columns: auto auto auto;
        justify-content: space-around;

        .profile-tabbar-tab {
          width: 14rem;
          height: 3rem;
          font-size: larger;
          border-radius: 12px;
          color: cadetblue;
          border: 0ch;
        }

        .nav-item {
          list-style: none;
          margin-left: 30px;
        }

        .nav-item .nav-link.active {
          background-color: cadetblue;
          font-size: 18px;
          color: white;
        }
      }
    }
    .profile-tabbar-contents-container {
      min-height: 297.6px;
      width: 100%;
      // display: grid;
      // grid-template-columns: 20% 40% 40%;
      // padding-left: 2rem ;

      .profile-tabbar-content-all-tab-newpres-container {
        font-family: "Poppins";
        list-style: none;
        display: grid;
        grid-template-rows: auto auto auto;
        width: 100%;
        margin-left: 2.5rem;
        // row-gap: 2rem;

        .xyz {
          width: 100%;
          min-height: 297.6px;
          background-color: white;
        }

        .fields {
          width: 360px;

          .labels {
            // margin-top: 5px;
            color: black;
            font-weight: bold;
          }
          textarea {
            resize: none;
            border-radius: 12px;
            padding: 1rem;
            width: 635px;
            margin-bottom: 0.3rem;
          }
        }
        .submit-button {
          font-family: "Poppins";
          background-color: cadetblue;
          color: white;
          font-size: 700;
          height: 2.2rem;
          width: 7rem;
          border-radius: 12px;
          border: 0ch;
          margin-left: 270px;
        }
      }

      .profile-tabbar-content-all-tab-history-container {
        min-height: 350px;
        border-radius: 8px;
        background-color: white;
        padding: 20px;

        h5 {
          margin-left: 10px;
        }

        .profile-prescription-card {
          margin-top: 12px;
          margin-bottom: 12px;
          min-height: 20px;
          border: 1px solid cadetblue;
          border-radius: 8px;
          font-family: "Poppins";

          .profile-prescription-card-head {
            display: grid;
            grid-template-columns: auto auto;
            justify-content: space-between;
            padding: 12px;

            .profile-prescription-card-head-left {
              :nth-child(1) {
                margin-bottom: 2px;
                font-size: 16px;
              }
              :nth-child(2) {
                margin-top: 4px;
                margin-bottom: 2px;
                font-size: 14px;
              }
              :nth-child(3) {
                margin-top: 4px;
                margin-bottom: 2px;
                font-size: 14px;
                font-weight: 500;
              }
            }

            .profile-prescription-card-head-right {
              :nth-child(1) {
                font-size: 14px;
                margin-bottom: 4px;
              }
              :nth-child(2) {
                font-size: 14px;
                margin-bottom: 6px;
              }
            }

            .profile-description-card-button {
              background-color: cadetblue;
              color: white;
              width: 85px;
              height: 25px;
              font-size: 12px;
              padding: 0;
            }
          }
          .profile-prescription-card-body {
            border-top: 1px solid black;
            padding: 12px;

            .profile-prescription-card-body-sect-1 {
              font-size: 15px;

              .table {
                width: 50%;
              }
            }
            .profile-prescription-card-body-sect-2 {
              display: grid;
              grid-template-columns: auto auto auto;
              justify-content: start;
              font-size: 15px;

              ul li {
                margin-right: 8px;
              }
              p {
                margin: 0;
                margin-bottom: 0px;
                margin-right: 8px;
              }
            }
            .profile-prescription-card-body-sect-3-header {
              margin-top: 10px;
              margin-bottom: 10px;
              // text-decoration:dotted;
              font-weight: bold;
            }
            .profile-prescription-card-body-sect-3 {
              table {
                th {
                  font-size: 14px;
                  color: black;
                }
                td {
                  font-size: 14px;
                }
              }
            }
          }
        }
      }
    }
  }

  .Previous-meetings {
    // box-sizing: border-box;
    // width: 352px;
    // height: 372px;
    background: snow;
    // border-radius: 12px;
    display: grid;
    grid-template-rows: 40% 47%;
    row-gap: 2rem;

    .Basic-data-patient {
      border-radius: 12px;
      padding-bottom: 10px;
      display: grid;
      grid-template-columns: 51% 46%;
      column-gap: 1rem;

      .Basic-data-patient-left {
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        background-color: white;
        border-radius: 12px;
        padding-top: 1rem;
        font-family: "Poppins";

        .biodata-elements {
          list-style: none;

          .leftside-basic {
            color: cadetblue;
            font-weight: bold;
            margin-right: 7px;
          }
        }
      }
      .Basic-data-patient-right {
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        background-color: white;
        border-radius: 12px;
        padding-top: 1rem;
        font-family: "Poppins";

        .right {
          color: cadetblue;
          font-weight: bold;
          text-decoration: underline;
          font-size: 17px;
        }

        .biodata-elements {
          list-style: none;

          .rightside-basic {
            color: cadetblue;
            font-weight: bold;
            margin-right: 7px;
          }
        }
      }
    }

    // .Complex-data-patient
    // {
    //     background-color: white;
    //     box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    //     border-radius: 12px;
    // }
  }
  .Observation {
    max-height: 510px;
    height: 100%;

    #pills-pre {
      max-height: 400px;
      overflow: scroll;
    }
  }
}

.patient-detail-submit-link {
  color: white;
  text-decoration: none;
  :hover {
    color: teal;
  }
}

td {
  text-align: left;
}

.biodata-elements-mail {
  font-size: 14px;
}
.leftside-mail {
  color: cadetblue;
  font-weight: bold;
  font-size: 16px;
}
